.passwordFirst {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  border: 3px solid black;
  background-color: rgb(236, 240, 235);
}
.passwordFirst::placeholder {
  color: rgb(105, 105, 110);
}

.passwordSecond {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  border: 3px solid black;

  background-color: rgb(236, 240, 235);
}

.passwordSecond::placeholder {
  color: rgb(105, 105, 110);
}

.error {
  color: red;
  text-align: center;
}

.green {
  background-color: greenyellow;
}
